<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Chess - Play, Learn &amp; Watch Live Tournaments - chess24 | chess24.com</title>
    <th:block th:insert="fragments/import::indexHeaderImports"></th:block>
</head>
<body class="userIsGuest" data-newhouse-baseurl="https://new.chess24.com/en"
      data-snigelurl="https://cdn.snigelweb.com/adengine/chess24.com/loader.js">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VFFNC" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- body container -->
<div class="bodyContainer bodyLayout-sxga bodyLayout-blue user user_dashboard_rev">


    <!-- header -->
    <header class="pageHeader">
        <div class="overLayer"></div>
        <div class="pageWrap">

            <h1 class="logo" alt="Chess">
                <a id="logo" href="#">
                    <span class="hidden">Chess</span>
                    <img src="/images/retina/output-onlinepngtools.png" alt="">
                </a>
            </h1>

            <!-- nav container -->
            <div class="navContainerWrapper">

            <span class="menuBurgerButton"
                  data-class-setter-on-click="{&quot;classname&quot;:&quot;showAdaptiveMenu&quot;, &quot;method&quot;:&quot;toggle&quot;, &quot;target&quot;:&quot;.navContainerWrapper&quot;}">
                <span></span>
            </span>

                <div class="navContainer">

                    <!-- main menu -->
                    <nav class="mainMenu">
                        <ul class="expandingMenuList">

                            <li class="expandingMenu menuGroup menuGroupRead">
                                <a href="#" class="expandingMenuTitle"><span>Read</span></a>
                                <input class="expandingMenuTrigger" type="checkbox" id="trigerMenuRead" name="">
                                <label class="expandingMenuTriggerLabel" for="trigerMenuRead"><span>Read</span></label>
                                <div class="secondaryMenuWrapper">
                                    <div class="flexWrapper">
                                        <ul>
                                            <li class="mmenuNews">
                                                <a href="#">
                                                    News<p>Keep up to date with all that's going on in the chess
                                                    world</p>
                                                </a>
                                            </li>
                                        </ul>

                                        <ul>
                                            <li class="mmenuPlayers">
                                                <a href="/worldChessChampions">
                                                    World Chess Champions<p>Bios, ratings and more</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="expandingMenu menuGroup menuGroupWatch">
                                <a href="#" class="expandingMenuTitle"><span>Watch</span></a>
                                <input class="expandingMenuTrigger" type="checkbox" id="trigerMenuWatch" name="">
                                <label class="expandingMenuTriggerLabel"
                                       for="trigerMenuWatch"><span>Watch</span></label>
                                <div class="secondaryMenuWrapper">
                                    <div class="flexWrapper">
                                        <ul class="">
                                            <li class="mmenuTournaments">
                                                <a href="#">
                                                    Tournaments<p>Top events</p>
                                                </a>
                                            </li>
                                            <li class="mmenuLiveVideos">
                                                <a href="#">
                                                    Shows<p>Watch live &amp; on demand</p>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>


                        </ul>
                    </nav>
                    <!-- END main menu -->

                    <!-- user menu -->
                    <nav class="userMenu">
                        <div class="expandingMenu">
    <span class="loader userPic">
                <img src="https://assets.chess24.com/assets/0d48ac810b1acbac284bc0476cd6b4af/images/user/26x26_profile_default.png"
                     alt=""/>        <span class="name">Log in / Register</span>
    </span>
                            <a class="userPic sMenuTrigger profile" href="#">
                                <img src="https://assets.chess24.com/assets/0d48ac810b1acbac284bc0476cd6b4af/images/user/26x26_profile_default.png"
                                     alt=""/> <span class="name">Log in / Register</span>
                            </a>
                            <div class="secondaryMenuWrapper">
                                <ul class="userMenuList">
                                    <li class="linkLogin">
                                        <a href="/login" rel="nofollow" class="login-link">Log in</a>
                                    </li>
                                    <li class="linkRegister">
                                        <a href="/registerOrg" rel="nofollow"
                                           class="register-link">Register with Organizer</a>
                                    </li>

                                    <li class="linkRegister">
                                        <a href="/register" rel="nofollow"
                                           class="register-link">Register with Player</a>
                                    </li>

                                    <li class="linkProfile">
                                        <a href="#" class="profile">My Profile</a>
                                    </li>

                                    <li class="linkLab" id="labSectionId" style="display: none">
                                        <a href="/lab">Laboratory</a>
                                    </li>

                                    <li class="linkLogout logOff" data="https://chess24.com/en/logout"
                                        style="display: none;">
                                        <a id="yt0">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- END user menu -->

                    <!-- language selector -->
                    <nav class="langMenu">
                        <div class="lang expandingMenu">
                            <div class="expandingMenu">

                        <span class="expandingMenuTitle">
                            <span>
                                <span class="langMenuSelector">English</span>
                            </span>
                        </span>

                                <div class="secondaryMenuWrapper">
                                    <ul class="langList">
                                        <li class="active">
                                            <a class="language-change-link" href="#" data-lang="en"> English </a>
                                        </li>
                                        <li class="">
                                            <a class="language-change-link" href="#" data-lang="ru"> Русский </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- END language selector -->

                </div>


            </div>
            <!-- END nav container -->

            <!-- search -->
            <div class="siteSearch" style="display: inline-block;">
                <div id="search-bar">
                    <div style="width: 195px; left: 0px;">
                        <form action="/en/search" method="get"><input type="text" value="" name="q" id="q"></form>
                    </div>
                    <a class="active" style="right: 178px;"></a>
                </div>
            </div>
            <!-- END search -->

        </div>

    </header>
    <!-- END header -->

    <div class="flashMessages"></div>

    <!-- page content -->
    <div class="pageContent">


        <!-- user stats -->

        <!-- page wrap -->
        <div class="pageWrap">

            <!-- content wrap -->
            <div class="contentWrap">


                <div class="contentContainer">
                    <div class="contentDashboard" id="dashboardRevision">
                        <div class="row hero-slider" id="w-highlight">
                            <div class="content-wrap">
                                <div class="slider-slide">
                                    <div class="slide-title">
                                        <div class="header">ONLINE CHESS TOURNAMENTS</div>
                                        <!--                                        <div class="date">6/30/2022</div>-->
                                    </div>
                                    <div class="slide-description">
                                        <p>
                                        </p>
                                    </div>
                                    <a class="slide-cta-button ui-button"
                                       href="#">Watch</a>
                                </div>
                            </div>
                        </div>


                        <div class="row highlights ">
                            <div class="row-header double left">News &amp; Events</div>

                            <div class="content-wrap">
                                <section class="content-box box-latest-updates">
                                    <div class="box-header">Latest updates</div>
                                    <div class="box-content">
                                        <div class="update-item"><a
                                                href="#">
                                            <div class="update-item-image">
                                                <img src="https://s3-eu-west-1.amazonaws.com/de.cisha.live/lt0pi0mmS7W82jzm8oKNug/712x452/carlsen-niemann.jpeg">
                                            </div>
                                            <div class="update-item-tabs">
                                                <div class="update-item-tab tab-active">Reports</div>
                                            </div>
                                            <div class="update-item-content">
                                                <div class="content-title">
                                                    FIDE to investigate Carlsen and Niemann
                                                </div>
                                                <div class="content-body">
                                                    <p>FIDE has confirmed they will launch an investigation into Magnus
                                                        Carlsen and Hans Niemann after the cheating scandal that has
                                                        dominated the chess world and gathered worldwide attention in
                                                        recent weeks.</p>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>

                        <div class="row news">
                            <div class="content-wrap">

                                <section class="content-box box-latest-news">
                                    <div class="box-header box-header-latest-news box-header-with-link">
                                        <div class="box-header-text">
                        <span>
                             Latest News                        </span>
                                        </div>
                                        <div class="box-header-link">

                                        </div>
                                    </div>
                                    <div class="box-content" id="rev_dashboard_news">
                                        <div class="news-item">
                                            <a href="#">

                                                <div class="news-item-image">
                                                    <img src="https://cdn.chess24.com/hwLcveaPTzuCEThUzl-68Q/600x380/mpl-indian-line-up-bigger.jpg">
                                                </div>

                                                <div class="news-item-content">
                                                    <div class="content-title">Last chance to reach the MPL Indian Chess
                                                        Tour final
                                                    </div>
                                                    <div class="content-body">
                                                        <div>
                                                            <p>The 4th and final leg of the $100,000 MPL Indian Chess
                                                                Tour starts today, with 16 players competing for a place
                                                                in the $25,000 knockout final and also a spot on the
                                                                $1.6 million Meltwater Champions Chess Tour.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="news-item-foot">
                                                    <div class="foot-date">9/30/2022</div>
                                                    <div class="foot-comments">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                             viewBox="0 0 20 20">
                                                            <g fill="#36c">
                                                                <path d="M18 4h-1v7a2 2 0 0 1-2 2H4v1a2 2 0 0 0 2 2h10l4 4V6a2 2 0 0 0-2-2z"></path>
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v14l4-4h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                                                            </g>
                                                        </svg> &nbsp; 1
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="news-item">
                                            <a href="#">

                                                <div class="news-item-image">
                                                    <img src="https://cdn.chess24.com/fhcX_dozQPqDv6NaVrIPrg/600x380/carlsen-niemann-aronian.jpeg">
                                                </div>

                                                <div class="news-item-content">
                                                    <div class="content-title">Carlsen accuses Niemann of cheating "more
                                                        - and more recently - than he admits"
                                                    </div>
                                                    <div class="content-body">
                                                        <div>
                                                            <p>Magnus Carlsen has finally made his promised statement
                                                                that once more blows open the divisive scandal that has
                                                                been rocking the chess world.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="news-item-foot">
                                                    <div class="foot-date">9/27/2022</div>
                                                    <div class="foot-comments">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                             viewBox="0 0 20 20">
                                                            <g fill="#36c">
                                                                <path d="M18 4h-1v7a2 2 0 0 1-2 2H4v1a2 2 0 0 0 2 2h10l4 4V6a2 2 0 0 0-2-2z"></path>
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v14l4-4h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                                                            </g>
                                                        </svg> &nbsp; 158
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="news-item">
                                            <a href="#">

                                                <div class="news-item-image">
                                                    <img src="https://cdn.chess24.com/uS5CuYCWRBiQONfk7diwrw/600x380/magnus-carlsen-winner.jpeg">
                                                </div>

                                                <div class="news-item-content">
                                                    <div class="content-title">Carlsen beats Erigaisi to win the Julius
                                                        Baer Generation Cup
                                                    </div>
                                                    <div class="content-body">
                                                        <div>
                                                            <p>Magnus Carlsen said he played “anti-young-player chess”
                                                                to beat Arjun Erigaisi 2:0 on Day 2 of the Julius Baer
                                                                Generation Cup final and win the tournament with two
                                                                games to spare. Arjun never got a chance, but had a
                                                                great run and has qualified for the final Tour event
                                                                this year in San Francisco.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="news-item-foot">
                                                    <div class="foot-date">9/26/2022</div>
                                                    <div class="foot-comments">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                             viewBox="0 0 20 20">
                                                            <g fill="#36c">
                                                                <path d="M18 4h-1v7a2 2 0 0 1-2 2H4v1a2 2 0 0 0 2 2h10l4 4V6a2 2 0 0 0-2-2z"></path>
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v14l4-4h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                                                            </g>
                                                        </svg> &nbsp; 6
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </section>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END content wrap -->
            <div class="clearfix"></div>

        </div>
        <!-- END page wrap -->

        <span class="field-errors" data-field="LostPasswordForm[email]" x="LostPasswordForm_email"
              style="display: none; left: 0px; top: 0px;"></span><span class="field-errors" data-field="yt1"
                                                                       style="display: none; left: 0px; top: 0px;"></span><span
            class="field-errors" data-field="DataConsentForm[hasNecessaryConsent]"
            x="DataConsentForm_hasNecessaryConsent" style="display: none; left: 0px; top: 0px;"></span><span
            class="field-errors" data-field="DataConsentForm[hasSettingsConsent]" x="DataConsentForm_hasSettingsConsent"
            style="display: none; left: 0px; top: 0px;"></span><span class="field-errors"
                                                                     data-field="DataConsentForm[hasSocialMediaConsent]"
                                                                     x="DataConsentForm_hasSocialMediaConsent"
                                                                     style="display: none; left: 0px; top: 0px;"></span><span
            class="field-errors" data-field="DataConsentForm[hasPerformanceConsent]"
            x="DataConsentForm_hasPerformanceConsent" style="display: none; left: 0px; top: 0px;"></span><span
            class="field-errors" data-field="DataConsentForm[hasMarketingConsent]"
            x="DataConsentForm_hasMarketingConsent" style="display: none; left: 0px; top: 0px;"></span></div>
    <!-- END page content -->


    <th:block th:insert="fragments/layout::footer"></th:block>

    <div class="bubble modal" style="width: auto; display: none;">
        <div class="bubble-contents">
            <div class="popupInsider loginRegistrationPopup" data-failures="0" style="display: block;">

                <div class="userRegistrationLogin">

                    <div class="tabContent lost-password">
                        <h3>Lost your password? We'll send you a link to reset it!</h3>
                        <div>
                            <form class="cPattern" data-validatemethod="clientvalidate" id="lost-password-form"
                                  action="/en/lost-password" method="post">
                                <input type="hidden" value="" name="csrf">
                                <p><input placeholder="Email address"
                                          data-error-required="Please enter your email address"
                                          data-error-email="Please enter a valid email address" tabindex="1"
                                          class="validate[email[skipOnError=1],required] cInputText"
                                          name="LostPasswordForm[email]" id="LostPasswordForm_email" type="text"></p>
                                <p>After submitting this form you'll receive an email with the reset password link. If
                                    you still can't access your account please contact our <a href="/en/contact">customer
                                        service</a>.</p>
                                <p><input class="submit cBtnFlexi cBtnBlue" type="submit" name="yt1" value="Send"></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnCloseDialog"><a></a></div>
    </div>
    <div class="bubble modal" style="width: auto; display: none;">
        <div class="bubble-contents dataConsentModal">
            <div class="popupInsider dataConsentPopup" style="display: block;">

                <div class="userDataConsent">
                    <header>
                        <strong>Which features would you like to enable?</strong>
                    </header>

                    <div class="tabContent">

                        <p>We respect your privacy and data protection guidelines. Some components of our site require
                            cookies or local storage that handles personal information.</p>

                        <p><a id="data-consent-show-options-link">Show Options</a></p>
                        <p><a id="data-consent-hide-options-link">Hide Options</a></p>

                        <div id="data-consent-form-container">
                            <form class="cPattern" data-validatemethod="clientvalidate" id="data-consent-form"
                                  action="/en/dashboard" method="post">
                                <input type="hidden" value="" name="csrf">

                                <dl>
                                    <dt>
                                        <div><input id="ytDataConsentForm_hasNecessaryConsent" type="hidden" value="0"
                                                    name="DataConsentForm[hasNecessaryConsent]"><label
                                                class="crContainer checkBox"
                                                for="DataConsentForm_hasNecessaryConsent"><input disabled="disabled"
                                                                                                 data-setting="hasNecessaryConsent"
                                                                                                 value="1"
                                                                                                 class="validate[safe] cPattern switchCheck"
                                                                                                 name="DataConsentForm[hasNecessaryConsent]"
                                                                                                 id="DataConsentForm_hasNecessaryConsent"
                                                                                                 checked="checked"
                                                                                                 type="checkbox"
                                                                                                 data-pattern-checkbox="true"><label
                                                class="crImg" for="DataConsentForm_hasNecessaryConsent"></label></label>
                                        </div>
                                    </dt>
                                    <dd>
                                        <h5>Necessary</h5>
                                        General <strong>page access</strong>, using the <strong>Playzone</strong> and
                                        <strong>broadcast</strong> features.
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <div><input id="ytDataConsentForm_hasSettingsConsent" type="hidden" value="0"
                                                    name="DataConsentForm[hasSettingsConsent]"><label
                                                class="crContainer checkBox"
                                                for="DataConsentForm_hasSettingsConsent"><input tabindex="1"
                                                                                                data-setting="hasSettingsConsent"
                                                                                                value="1"
                                                                                                class="validate[safe] cPattern switchCheck"
                                                                                                name="DataConsentForm[hasSettingsConsent]"
                                                                                                id="DataConsentForm_hasSettingsConsent"
                                                                                                type="checkbox"
                                                                                                data-pattern-checkbox="true"><label
                                                class="crImg" for="DataConsentForm_hasSettingsConsent"></label></label>
                                        </div>
                                    </dt>
                                    <dd>
                                        <h5>Settings</h5>
                                        Remember your <strong>personal settings</strong> including language, chessboard
                                        theme and other options.
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <div><input id="ytDataConsentForm_hasSocialMediaConsent" type="hidden" value="0"
                                                    name="DataConsentForm[hasSocialMediaConsent]"><label
                                                class="crContainer checkBox"
                                                for="DataConsentForm_hasSocialMediaConsent"><input tabindex="2"
                                                                                                   data-setting="hasSocialMediaConsent"
                                                                                                   value="1"
                                                                                                   class="validate[safe] cPattern switchCheck"
                                                                                                   name="DataConsentForm[hasSocialMediaConsent]"
                                                                                                   id="DataConsentForm_hasSocialMediaConsent"
                                                                                                   type="checkbox"
                                                                                                   data-pattern-checkbox="true"><label
                                                class="crImg"
                                                for="DataConsentForm_hasSocialMediaConsent"></label></label></div>
                                    </dt>
                                    <dd>
                                        <h5>Social Media</h5>
                                        See social media <strong>feeds and share</strong> content you like.
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <div><input id="ytDataConsentForm_hasPerformanceConsent" type="hidden" value="0"
                                                    name="DataConsentForm[hasPerformanceConsent]"><label
                                                class="crContainer checkBox"
                                                for="DataConsentForm_hasPerformanceConsent"><input tabindex="3"
                                                                                                   data-setting="hasPerformanceConsent"
                                                                                                   value="1"
                                                                                                   class="validate[safe] cPattern switchCheck"
                                                                                                   name="DataConsentForm[hasPerformanceConsent]"
                                                                                                   id="DataConsentForm_hasPerformanceConsent"
                                                                                                   type="checkbox"
                                                                                                   data-pattern-checkbox="true"><label
                                                class="crImg"
                                                for="DataConsentForm_hasPerformanceConsent"></label></label></div>
                                    </dt>
                                    <dd>
                                        <h5>Statistics</h5>
                                        Usage of <strong>statistics</strong> that help us <strong>improve parts of our
                                        site</strong> relevant to you.
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <div><input id="ytDataConsentForm_hasMarketingConsent" type="hidden" value="0"
                                                    name="DataConsentForm[hasMarketingConsent]"><label
                                                class="crContainer checkBox"
                                                for="DataConsentForm_hasMarketingConsent"><input tabindex="4"
                                                                                                 data-setting="hasMarketingConsent"
                                                                                                 value="1"
                                                                                                 class="validate[safe] cPattern switchCheck"
                                                                                                 name="DataConsentForm[hasMarketingConsent]"
                                                                                                 id="DataConsentForm_hasMarketingConsent"
                                                                                                 type="checkbox"
                                                                                                 data-pattern-checkbox="true"><label
                                                class="crImg" for="DataConsentForm_hasMarketingConsent"></label></label>
                                        </div>
                                    </dt>
                                    <dd>
                                        <h5>Marketing</h5>
                                        Personalized advertisements that enable us to <strong>offer free
                                        services</strong>.
                                    </dd>
                                </dl>


                            </form>
                            <p><a id="data-consent-details-link">Learn more about the details...</a></p>
                        </div>

                        <div class="opt-in">
                            <a class="cBtnFlexi cBtnBlue" id="data-consent-opt-in-all"
                               data-e2e-key="data-consent-opt-in-all"><span class="cIcon cIconOKwhite"></span> Accept
                                all</a><a class="cBtnFlexi cBtnBlue" id="data-consent-close"><span
                                class="cIcon cIconWarning"></span> save my choice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- END body container -->

<div id="language" data-language="en"></div>

</html>