<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title> Register
    </title>
    <link rel="icon" href="//auth//resources//ow5rn//login//chess24//img//favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://auth.chess24.com/auth/resources/ow5rn/login/chess24/css/login.css" rel="stylesheet"/>
</head>

<body class="">
<div class="login-pf-page">
    <header class="">
        <div id="kc-header" class="login-pf-page-header">
            <div class="header">
                <svg class="logo" width="147" height="32" viewBox="0 0 147 32" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect x="6.56299" y="5.5625" width="22.2523" height="20.8615" fill="white"/>

                    <defs>
                        <linearGradient id="paint0_linear_1122_102514" x1="38.4574" y1="31.8379" x2="-2.37751"
                                        y2="0.000472632"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#F9A401"/>
                            <stop offset="1" stop-color="#F66F4D"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="card-pf">
            <h2 class="title" id="kc-page-title"> Register
            </h2>
        </div>
    </header>
    <main>
        <div class="form-horizontal">
            <div id="kc-content">
                <div id="kc-content-wrapper">

                    <form id="kc-register-form" class="form-horizontal"
                          action="https://auth.chess24.com/auth/realms/chess24-prod/login-actions/registration?session_code=8Jk6pwMCrNaBc_mInr9tZRihBwC2c27bm2s4aCh84R0&amp;execution=9dd6f0b4-3628-45dd-994f-7b44937dafe6&amp;client_id=chess24ng-service-prod&amp;tab_id=uyMkn-4gAXY"
                          method="post">

                        <div class="form-group">
                            <label for="username"></label><input type="text" id="username" class="form-control"
                                                                 name="name" value=""
                                                                 autocomplete="name"
                                                                 placeholder="Name">
                            <!-- <label for="username" class="control-label">Username</label> -->
                        </div>

                        <div class="form-group">
                            <label for="username"></label><input type="text" id="surname" class="form-control"
                                                                 name="surname" value=""
                                                                 autocomplete="surname"
                                                                 placeholder="Surname">
                            <!-- <label for="username" class="control-label">Username</label> -->
                        </div>

                        <div class="form-group">
                            <label for="username"></label><input type="text" id="nationality" class="form-control"
                                                                 name="age" value=""
                                                                 autocomplete="age"
                                                                 placeholder="Nationality">
                            <!-- <label for="username" class="control-label">Username</label> -->
                        </div>

                        <div class="form-group">
                            <label for="username"></label><input type="text" id="age" class="form-control" name="age"
                                                                 value=""
                                                                 autocomplete="age"
                                                                 placeholder="Age">
                            <!-- <label for="username" class="control-label">Username</label> -->
                        </div>

                        <div class="form-group">
                            <label for="email"></label><input type="text" id="email" class="form-control" name="email"
                                                              value=""
                                                              autocomplete="email"
                                                              placeholder="E-mail">
                            <!-- <label for="email" class="control-label">Email</label> -->
                        </div>

                        <div class="form-group">
                            <label for="password"></label><input type="password" id="password" class="form-control"
                                                                 name="password"
                                                                 autocomplete="new-password"
                                                                 placeholder="Password">
                            <!-- <label for="password" class="control-label">Password</label> -->
                        </div>

                        <div class="form-group">
                            <label for="password-confirm"></label><input type="password" id="password-confirm"
                                                                         class="form-control" name="password-confirm"
                                                                         placeholder="Repeat password">
                            <!-- <label for="password-confirm" class="control-label">Confirm password</label> -->
                        </div>


                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-lg" type="submit" id="kc-register">
                                Register
                            </button>
                        </div>
                    </form>
                    <script>
                        function delegate(el, evt, sel, handler) {
                            el.addEventListener(evt, function (event) {
                                var t = event.target;
                                while (t &amp;&amp; t !== this) {
                                    if (t.matches(sel)) {
                                        handler.call(t, event);
                                    }
                                    t = t.parentNode;
                                }
                            });
                        }

                        window.onload = function () {
                            var submitted = false;
                            delegate(document, "click", "#kc-register", function (event) {
                                if (submitted) {
                                    event.preventDefault();
                                } else {
                                    submitted = true;
                                }
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
</body>
</html>